parameters:
  level: max

  paths:
    - src
    - contracts
    - tests

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  treatPhpDocTypesAsCertain: true

  reportUnmatchedIgnoredErrors: true

  excludePaths:
    - vendor

includes: []
